{% extends 'base.html.twig' %}

{% block title %}Modetas K. | About{% endblock %}

{% block body %}
<br>
<div style="height: 80%;" class="d-flex container justify-content-center align-items-center">
    <br>
    <div class="row g-3 align-items-center">
        <div class="col-md-6 align-items-center">
            <div>
                <div class="card-body">
                    <h5 class="card-title">Hi, my name is Modestas.</h5>
                    <p class="card-text">
                        I'm a computer science student who likes to code and build things.
                    </p>
                    <p class="card-text">I have experience with many programming languages, systems
                        and always like to learn something new.
                    </p>
                    <p class="card-text">
                        I am currently working as a programmer, developing software for Lithuanian energy.
                    </p>
                    <p class="card-text">
                        I also work as a programmer in development of various software.
                    </p>
                    <p class="card-text"><small class="text-muted"></small></p>
                </div>
            </div>
        </div>
        <div class="col-md-6 align-items-center">
                <div class="text-center">
                    <img src="https://github.com/M0diis/M0diis/raw/output/generated/overview.svg" alt="Github statistika" height="290px" width="470px">
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
