{% extends 'base.html.twig' %}

{% block title %}Modestas K. | Home{% endblock %}

{% block body %}
<br>

<div style="height: 80%;" class="d-flex container justify-content-center align-items-center">
    <br>
    <div>
        <div class="card-body">
            <h1 class="card-title mb-1"><em>Hi!</em></h1>
            <em><p class="card-text">Welcome to my portfolio page. Here you will be able to find out a little about me and what tools and software I use.</p>
            <p class="card-text">You can also communicate with me by registering and opening a support ticket, where we can discuss in more detail!</p>
            </em>
            <p class="card-text"><small class="text-muted"></small></p>
        </div>
    </div>
</div>
{% endblock %}
