{% extends 'base.html.twig' %}

{% block title %}Modestas K. | User{% endblock %}

{% block body %}
<div class="container">
    {% for message in app.flashes('successItem') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    <div class="align">

    </div>
</div>
{% endblock %}
